<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Login</display-name>
  <welcome-file-list>
    <welcome-file>StartingServlet</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoginFile</servlet-name>
    <jsp-file>/JSP/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFile</servlet-name>
    <url-pattern>/JSP/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bridgelabz.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartingServlet</servlet-name>
    <servlet-class>com.bridgelabz.controller.StartingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartingServlet</servlet-name>
    <url-pattern>/StartingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationFile</servlet-name>
    <jsp-file>/JSP/Registration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationFile</servlet-name>
    <url-pattern>/JSP/Registration</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CookiesHandler</filter-name>
    <filter-class>com.bridgelabz.filters.CookiesHandler</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CookiesHandler</filter-name>
    <url-pattern>/JSP/welcome</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/JSP/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/JSP/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionController</servlet-name>
    <servlet-class>com.bridgelabz.controller.SessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionController</servlet-name>
    <url-pattern>/SessionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SwitchingClass</servlet-name>
    <servlet-class>com.bridgelabz.controller.SwitchingClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchingClass</servlet-name>
    <url-pattern>/SwitchingClass</url-pattern>
  </servlet-mapping>
  
 <servlet>
 <servlet-name>Registration</servlet-name>
 <servlet-class>com.bridgelabz.controller.RegistrationServlet</servlet-class>
 </servlet> 
 <servlet-mapping>
 <servlet-name>Registration</servlet-name>
 <url-pattern>/Registration</url-pattern>
 </servlet-mapping>
</web-app>